<div class=" card shadow-sm">
<img class="bd-placeholder-img-card-img-top"width="100%" src= '{{"C:\teste\website\imagens" + Melhores-livros.jpg}}>
<div class="card-body">
    <p class="card-text"> {{livro.nome}}</p>
    <p class="card-text"> {{livro.category}}</p>
    <p class="card-text"> {{livro.quality}}</p>
    <p class="card-text"> {{livro.price | currency: 'BRL'}} </p>
<div class="bn-group">
    <button type="button" class="btn btn-sn btn-primary">Comprar</button>
    <button type="button" class="btn btn-sn btn-outline-primary">detalhes</button>
</div>
</div>
</div>